p.firstpara{
   background-color: rgba(159, 235, 235, 0.91);
   color: black;
   width: 500px;
   font-size: larger;
   font-style: italic;
   font-family: cursive;
}
p.secondpara{
    width: 400px;
    height: 100px;
    
    background-color: rgba(122, 118, 161, 0.618);
    color: black;
}

